bootstrap-flask
email-validator
Flask
Flask-Login
flask-mail
flask-moment
Flask-SQLAlchemy
Flask-WTF
gunicorn
html2text
psycopg2
python-dotenv
python-magic
randimage
setproctitle
slack_sdk
SQLAlchemy
WTForms
youtube-data-api
