{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
            {{ render_messages() }}
            <p>League:&nbsp;&lbrack;<b>{{ league.name }}</b>&rbrack;</p>
            <p>{{ league.descr }}</p>
            {% if current_user.is_authenticated and button %}
                <form method="GET" action="" class="form" role="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="id" value="{{ id }}" />
                    <input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Join This League!">
                </form><br>
            {% endif %}
            {% if avatars %}
                <p>League members:&nbsp;
                {% for username, image in avatars.items() %}
                    <img title="{{ username }}" src="data:image/png;base64,{{ image }}"/>&nbsp;
                {% endfor %}
                </p>
            {% endif %}
            <table>
            <thead>
                <tr>
                    <th>Up&nbsp;Votes</th>
                    <th>Down&nbsp;Votes</th>
                    <th>Submit&nbsp;Days</th>
                    <th>Vote&nbsp;Days</th>
                    <th>Rounds</th>
                    <th>End&nbsp;Date</th>
                    <th>Status</th>
                    {% if current_user.is_authenticated and member %}
                        <th>Current&nbsp;Standings</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ league.upvotes }}</td>
                    <td>{{ league.downvotes }}</td>
                    <td>{{ league.submit_days }}</td>
                    <td>{{ league.vote_days }}</td>
                    <td>{{ league.round_count }}</td>
                    <td>{{ moment(league.end_date).format('YYYY-MM-DD HH:mm') }}</td>
                    <td>{{ status }}</td>
                    {% if current_user.is_authenticated and member %}
                        {% if status == 'RUNNING' %}
                            {% set standing = 'Current Results' %}
                        {% else %}
                            {% set standing = 'Final Results' %}
                        {% endif %}
                        <td><a href="{{ url_for('standings') }}?id={{ id }}">{{ standing }}</a></td>
                    {% endif %}
                </tr>
            </tbody>
            </table><br>
            <p><b>Rounds</b></p>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>End Date</th>
                    {% if current_user.is_authenticated and member %}
                        <th>Status</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in rounds %}
                    <tr>
                        {% if current_user.is_authenticated and member %}
                            <td><a href="{{ url_for('round_') }}?id={{ data.id }}">{{ data.name }}</a></td>
                        {% else %}
                             <td>{{ data.name }}</td>
                        {% endif %}
                        <td>{{ data.descr }}</td>
                        <td>{{ moment(data.end_date).format('YYYY-MM-DD HH:mm') }}</td>
                        {% if current_user.is_authenticated and member %}
                            <td>{{ actions[data.id] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
