{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
        {{ render_messages() }}
        {{ render_form(form) }}
        <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a></p>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
