{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
            {{ render_messages() }}
            <p>Round: <b>{{ round_data.name }}</b></p>
            <p>{{ round_data.descr }}</p>
            <table>
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for song_data in round_data.songs %}
                    <tr>
                        <td>{{ song_data.title }}</td>
                        <td>{{ song_data.descr }}</td>
                        <td><div style=overflow:hidden;resize:none;max-width:100%;>
                            <div id=embed-google-map style="height:100%; width:100%;max-width:100%;">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ song_data.video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div></div></td>
                        <td><a href="{{ song_data.song_url }}"><img src="{{ song_data.thumbnail }}" alt="thumnail"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
