{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
            {{ render_messages() }}
            <p>League&nbsp;[<b>&nbsp;<a href="{{ url_for('league') }}?id={{ league_data.id }}">{{ league_data.name }}</a></b>&nbsp;]&nbsp;{{ status }}
            {% if status != 'RUNNING' %}
                &nbsp;{{ moment(end_date).fromNow() }}
            {% endif %}
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                        <tr>
                            <td><b>{{ data.name }}</b>&nbsp;[&nbsp;{{ data.username }}&nbsp;]</td>
                            <td><b>{{ data.votes }}</b>
                            {% if loop.index == 1 and data.votes > 0 %}
                                <img width="45" height="45" src="{{ url_for('static', filename='images/emojoine_r.svg') }}" alt="huzzah!">
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
