{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
            {{ render_messages() }}
            <p><b>
            {% if song_url %}
                Edit&nbsp;your song</b>&nbsp;&lbrack;&nbsp;{{ song_title }}&nbsp;&rbrack;</p>
            {% else %}
                Submit&nbsp;your song</b></p>
            {% endif %}
            <form action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                {{ render_field(form.user) }}
                {{ render_field(form.round) }}
                {{ render_field(form.league) }}
                {{ render_field(form.song_url, value=song_url) }}
                {{ render_field(form.descr, placeholder=song_descr) }}
                {{ render_field(form.submit) }}
            </form>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
</body>
</html>
