{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
<body>
    {% block scripts %}
        {{ super() }}
    {% endblock %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div id="contentliquid"><div id="contentwrap">
        <div id="content">
        {% block content %}
            {{ render_messages() }}
            <p><b>Vote</b>&nbsp;&rarr;&nbsp;
                League&nbsp;[<b>&nbsp;<a href="{{ url_for('league') }}?id={{ songs[0].leagues.id }}">{{ songs[0].leagues.name }}</a>
                    &nbsp;</b>]&nbsp;&rarr;&nbsp;
                Round&nbsp;[<b>&nbsp;{{ songs[0].rounds.name }}&nbsp;</b>]
            </p>
            <p><b>{{ songs[0].leagues.upvotes }}</b> Total Upvotes&nbsp;|&nbsp;
                <b>{{ songs[0].leagues.downvotes }}</b> Total Downvotes&nbsp;|&nbsp;Voting&nbsp;Ends: 
                <b>{{ moment(songs[0].rounds.end_date).format('YYYY-MM-DD HH:mm') }}
                </b></p><br>
            <form method="POST" action="" class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input id="round" name="round" required type="hidden" value="{{ songs[0].round_id }}">
                <input id="league" name="league" required type="hidden" value="{{ songs[0].league_id }}">
                {% for s in songs %}
                <table id="song-{{ s.id }}">
                    <tr>
                        <td><a href="{{ s.song_url }}"><img width="80" height="60" src="{{ s.thumbnail }}" alt="thumnail"></a>
                            <b>{{ s.title }}</b>
                        </td>
                        <td>
                            {{ s.descr }}
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2" style="text-align:center;">
                            <div style=overflow:hidden;resize:none;max-width:100%;>
                            <div id=embed-google-map style="height:100%; width:100%;max-width:100%;">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ s.video_id }}" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                allowfullscreen></iframe></div></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3"><label class="form-label" for="comment-{{ s.id }}"><b>Song comment</b></label>
                                <textarea class="form-control" cols="50" id="comment-{{ s.id }}" maxlength="128" 
                                    name="comment-{{ s.id }}" placeholder="why you voted" rows="5"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3 required"><label class="form-label" for="vote-{{ s.id }}"><b>Votes</b></label>
                                <input class="form-control vote" id="vote-{{ s.id }}" name="vote-{{ s.id }}" required 
                                    type="number" value="0" min="-{{ s.leagues.downvotes }}" max="{{ s.leagues.upvotes }}">
                            </div>
                        </td>
                    </tr>
                </table><br><br>
                <input id="song" name="song" required type="hidden" value="{{ s.id }}">
                {% endfor %}
                <p><b>{{ songs[0].leagues.upvotes }}</b> Total Upvotes available&nbsp;|&nbsp;
                    <b>{{ songs[0].leagues.downvotes }}</b> Total Downvotes available</p>
                <button disabled class="btn btn-primary" formmethod="post" id="submit" name="submit" type="submit" value="Submit Votes">Submit Votes</button>
            </form><br>
        {% endblock %}
        </div>
    </div></div>
    {% block footer %}
        {{ super() }}
    {% endblock %}
    {% block more_scripts %}
<script>
const sum = (acc, cur) => acc + Number.parseInt(cur.value || '0', 10);
const loaded = () => {
    const button = document.getElementById('submit');
    const votes = Array.from(document.querySelectorAll('input.vote'));
    // Initial total
    let total = votes.reduce(sum, 0);
    button.disabled = total != {{ votes }};
    const recountVotes = () => {
        // Easiest to just recount than work out total +/- the new value because user can backspace, etc.
        total = votes.reduce(sum, 0);
        // Just random total, change as required
        button.disabled = total != {{ votes }};
    }
    votes.forEach((vote) => vote.addEventListener('input', recountVotes));
}
document.addEventListener('DOMContentLoaded', loaded);
</script> 
    {% endblock %}
</body>
</html>
